*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

bin/
build/
build_windows/
test/cxx1/
test/cxxmulti/
test/cuda/
test/FORTRAN/
.vs/

.DS_Store

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


